<div class="container allPosts">
  <%if @user %>
    <h4>
      Welcome
      <%= @user.user_name %></h4>
  <% end %>
  <% @blogposts.each do |blog| %>
    <div class="row indexBlogRows">
      <div class="col-lg-12 text-center indexTitle">
        <h2>
          <strong>
            <%= blog.name %>
          </strong>
        </h2>
      </div>
      <div class="col-lg-12 text-left indexDescription">
        <h3>
          <%= blog.description %>
        </h3>
      </div>
      <div class="col-lg-6">
        <button class="buttonCustomize">
          <a href="/edit/<%= blog.id %>">Edit</a>
        </button class="buttonCustomize">
      </div>
      <form action="/delete/:id" method="POST">
        <button>
          <a href="/delete/<%= blog.id%>">Delete Post</a>
        </button>
      </form>
    </div>

  <% end %>
</div>
</div>
