<div class="container allPosts py-5">
  <%if @user %>
    <h2 class="userGreeting">
      Welcome
      <%= @user.user_name %></h2>
  <% end %>
  <div class="row">
    <div class="col-lg-12">
      <img src="linuxfam.png">
    </div>
  </div>
  <% @blogposts.each do |blog| %>
    <div class="row indexBlogRows">
      <div class="col-lg-12 text-center indexTitle">
        <h1>
          <strong>
            <%= blog.name %>
          </strong>
        </h1>
      </div>
      <div class="col-lg-12 text-left indexDescription">
        <h3>
          <%= blog.description %>
        </h3>
      </div>
      <% if blog.user_id == @user.id %>
        <div class="col-lg-6 py-3">
          <button class="editButton">
            <a href="/edit/<%= blog.id %>">Edit</a>
          </button>
        </div>
        <div class="col-lg-6 text-right py-3">
          <form action="/delete/:id" method="POST">
            <button class="deleteButton">
              <a href="/delete/<%= blog.id%>">Delete Post</a>
            </button>
          </form>
        </div>
      <%end%>
    </div>

  <% end %>
</div>
</div>
